###
  Everything is required unless stated otherwise
  However, setting the enabled value to false will disable that function
###


# Server settings

# Set to true to enable development mode
dev: false

# The HTTP server
http:
  enabled: true
  port: 8000

# The HTTPS server
https:
  enabled: true
  port: 8001

  # Certificate credentials
  pem:
    key:  './keys/key.pem'
    cert: './keys/cert.pem'
    passphrase: 'Charlie'

# Root of the webserver
wwwroot: './public_www'

# Drop back to this user after starting the server
dropbackuser:
  # Setting this to false means that the server will stay running
  # as the same user you started it with, which could be a security issue
  enabled: true

  uid: 'charlie'
  gid: 'charlie'

# Database settings
database:
  enabled: true

  url: 'mongodb://localhost/test'


# Logging settings
log:
  enabled: true

  timeformat: 'DD-MM-YYYY HH:mm:ss.SSS'

  # Accesslog
  access:
    enabled: true

    file: 'log/access.log'
    stdout: false
    stderr: false

    # IP's not to include in the logs (For example your own IP)
    disable: [
      "::ffff:84.107.251.46"
    ]

    # Optionally show a name behind the IP for common visitors
    friends: {
      '::ffff:213.93.28.7':   "(Gabriëlle)"
      '::ffff:80.60.110.83':  "(Marten)"
      '::ffff:85.150.254.59': "(Jorrit)"
    }

    format: '[:time:] :ip-: :name?: - :useragent: || :method: \':url:\''

  # Errorlog
  error:
    enabled: true

    file: 'log/error.log'
    stdout: false
    stderr: true

  # Serverlog
  server:
    enabled: true

    file: 'log/server.log'
    stdout: true
    stderr: false
