###
  Everything is required unless stated otherwise
  However, every value can be `false` to be disabled
###


# Server settings

http:
  enabled: true
  port: 8000

https:
  enabled: true
  port: 8001

  pem:
    key:  './keys/key.pem'
    cert: './keys/cert.pem'
    passphrase: 'Charlie'

wwwroot: './public_www'

# Database settings
database:
  enabled: true

  url: 'mongodb://localhost/test'


# Logging settings
log:
  enabled: true

  timeformat: 'DD-MM-YYYY HH:mm:ss.SSS'

  access:
    enabled: true

    file: 'log/access.log'
    stdout: false
    stderr: false

    # IP's not to include in the logs (For example your own IP in development)
    disable: [
      "::ffff:84.107.251.46"
    ]

    # Optionally show a name behind the IP for common visitors
    friends: {
      '::ffff:213.93.28.7':   "(Gabriëlle)"
      '::ffff:80.60.110.83':  "(Marten)"
      '::ffff:85.150.254.59': "(Jorrit)"
    }

    format: '[:time:] :ip-: :name?: - :useragent: || :method: \':url:\''

  error:
    enabled: true

    file: 'log/error.log'
    stdout: false
    stderr: true

  server:
    enabled: true

    file: 'log/server.log'
    stdout: true
    stderr: false
