<h2></h2>
<form action="#" onsubmit="login(this, event)">
  <input type="hidden" id="formtype" value="login">

  <div class="form-group has-error has-feedback">
    <!-- <label for="username" class="control-label"><i class="fa fa-user" aria-hidden="true"></i> Username</label> -->

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
      <input
        type="text" class="form-control" id="username" ng-model="epsilonCtrl.login_username"
        required autocapitalize='none' autocorrect='off'
        onkeyup="validateUsername($(this))"
        placeholder="username">
    </div>

    <span class="form-control-feedback fa fa-fw fa-ban" aria-hidden="true"></span>
  </div>

  <div class="form-group has-error has-feedback">
    <!-- <label for="password" class="control-label"><i class="fa fa-key" aria-hidden="true"></i> Password</label> -->

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
      <input
        type="password" class="form-control" id="password" ng-model="epsilonCtrl.login_password"
        required autocapitalize='none' autocorrect='off'
        onkeyup="validatePassword($(this))"
        placeholder="password">
    </div>

    <span class="form-control-feedback fa fa-fw fa-ban" aria-hidden="true"></span>
  </div>

  <input type="submit" class="btn btn-primary" value="Login">
  <a href="#/lost-password" class="btn btn-info">Lost password?</a>

  <hr>

  <script>
    // DEV NOTE: This timeout is because CoffeeScript needs to do stuff while the document is already loaded!
    //           Remove from production build
    (function vali(){
      if(typeof validateLogin !== 'undefined') setTimeout(validateLogin, 500);
      else setTimeout(vali, 100);
    })();
  </script>
</form>
