<h2></h2>
<form action="#" onsubmit="register(this, event)" ng-model="epsilonCtrl.register_form">
  <input type="hidden" id="formtype" value="register">

  <div class="form-group has-warning has-feedback">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>

      <input
        type="text" class="form-control" id="username" ng-model="epsilonCtrl.register_username"
        required autocapitalize="off" autocorrect="off"
        onkeyup="validateUsername($(this), true)"
        placeholder="username">
    </div>

    <span class="form-control-feedback fa fa-fw fa-cog" aria-hidden="true"></span>
  </div>

  <div class="form-group has-warning has-feedback">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>

      <input
        type="password" class="form-control" id="password" ng-model="epsilonCtrl.register_password"
        required autocapitalize="off" autocorrect="off"
        onkeyup="validatePassword($(this), true)"
        placeholder="password">
    </div>

    <span class="form-control-feedback fa fa-fw fa-cog" aria-hidden="true"></span>
  </div>

  <div class="form-group has-warning has-feedback">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
      <input
        type="password" class="form-control" id="password-again" ng-model="epsilonCtrl.register_password_again"
        required autocapitalize="off" autocorrect="off"
        onkeyup="validatePasswordAgain($(this))"
        placeholder="password again">
    </div>

    <span class="form-control-feedback fa fa-fw fa-cog" aria-hidden="true"></span>
  </div>

  <input type="submit" class="btn btn-primary" value="Register">

  <hr>

  <script type="text/javascript">
    // Validate empty form
    validateRegister();
  </script>
</form>
